.fs-btn.ips-fs {
    position: absolute; top: 2px; left:2px; z-index:999;
}

.fs-btn.ips-fs button {
    border: none !important;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.4;
    transition: opacity 0.2s;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: var(--accent-color, inherit);
}

.fs-btn.ips-fs button:hover { 
    opacity: 1;
    text-shadow:0 1px var(--bg2-color,#8988)
}

@media print {
    .fs-btn.ips-fs {
        display: none; /* Hide fullscreen button when printing, e.g in slides */
    }
}
