.flag-icon {
  background-image: url("../icons/sprite-flags.png");
  background-size: 360px 342px;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
}
.flag-ad {
  background-position: 0 0;
}
.flag-ae {
  background-position: 7.142857142857143% 0;
}
.flag-af {
  background-position: 0 5.555555555555555%;
}
.flag-ag {
  background-position: 7.142857142857143% 5.555555555555555%;
}
.flag-ai {
  background-position: 14.285714285714286% 0;
}
.flag-al {
  background-position: 14.285714285714286% 5.555555555555555%;
}
.flag-am {
  background-position: 0 11.11111111111111%;
}
.flag-ao {
  background-position: 7.142857142857143% 11.11111111111111%;
}
.flag-aq {
  background-position: 14.285714285714286% 11.11111111111111%;
}
.flag-ar {
  background-position: 0 16.666666666666668%;
}
.flag-arab {
  background-position: 7.142857142857143% 16.666666666666668%;
}
.flag-as {
  background-position: 14.285714285714286% 16.666666666666668%;
}
.flag-asean {
  background-position: 21.428571428571427% 0;
}
.flag-at {
  background-position: 21.428571428571427% 5.555555555555555%;
}
.flag-au {
  background-position: 21.428571428571427% 11.11111111111111%;
}
.flag-aw {
  background-position: 21.428571428571427% 16.666666666666668%;
}
.flag-ax {
  background-position: 0 22.22222222222222%;
}
.flag-az {
  background-position: 7.142857142857143% 22.22222222222222%;
}
.flag-ba {
  background-position: 14.285714285714286% 22.22222222222222%;
}
.flag-bb {
  background-position: 21.428571428571427% 22.22222222222222%;
}
.flag-bd {
  background-position: 28.571428571428573% 0;
}
.flag-be {
  background-position: 28.571428571428573% 5.555555555555555%;
}
.flag-bf {
  background-position: 28.571428571428573% 11.11111111111111%;
}
.flag-bg {
  background-position: 28.571428571428573% 16.666666666666668%;
}
.flag-bh {
  background-position: 28.571428571428573% 22.22222222222222%;
}
.flag-bi {
  background-position: 0 27.77777777777778%;
}
.flag-bj {
  background-position: 7.142857142857143% 27.77777777777778%;
}
.flag-bl {
  background-position: 14.285714285714286% 27.77777777777778%;
}
.flag-bm {
  background-position: 21.428571428571427% 27.77777777777778%;
}
.flag-bn {
  background-position: 28.571428571428573% 27.77777777777778%;
}
.flag-bo {
  background-position: 35.714285714285715% 0;
}
.flag-bq {
  background-position: 35.714285714285715% 5.555555555555555%;
}
.flag-br {
  background-position: 35.714285714285715% 11.11111111111111%;
}
.flag-bs {
  background-position: 35.714285714285715% 16.666666666666668%;
}
.flag-bt {
  background-position: 35.714285714285715% 22.22222222222222%;
}
.flag-bv {
  background-position: 35.714285714285715% 27.77777777777778%;
}
.flag-bw {
  background-position: 0 33.333333333333336%;
}
.flag-by {
  background-position: 7.142857142857143% 33.333333333333336%;
}
.flag-bz {
  background-position: 14.285714285714286% 33.333333333333336%;
}
.flag-ca {
  background-position: 21.428571428571427% 33.333333333333336%;
}
.flag-cc {
  background-position: 28.571428571428573% 33.333333333333336%;
}
.flag-cd {
  background-position: 35.714285714285715% 33.333333333333336%;
}
.flag-cefta {
  background-position: 0 38.888888888888886%;
}
.flag-cf {
  background-position: 7.142857142857143% 38.888888888888886%;
}
.flag-cg {
  background-position: 14.285714285714286% 38.888888888888886%;
}
.flag-ch {
  background-position: 21.428571428571427% 38.888888888888886%;
}
.flag-ci {
  background-position: 28.571428571428573% 38.888888888888886%;
}
.flag-ck {
  background-position: 35.714285714285715% 38.888888888888886%;
}
.flag-cl {
  background-position: 42.857142857142854% 0;
}
.flag-cm {
  background-position: 42.857142857142854% 5.555555555555555%;
}
.flag-cn {
  background-position: 42.857142857142854% 11.11111111111111%;
}
.flag-co {
  background-position: 42.857142857142854% 16.666666666666668%;
}
.flag-cp {
  background-position: 42.857142857142854% 22.22222222222222%;
}
.flag-cr {
  background-position: 42.857142857142854% 27.77777777777778%;
}
.flag-cu {
  background-position: 42.857142857142854% 33.333333333333336%;
}
.flag-cv {
  background-position: 42.857142857142854% 38.888888888888886%;
}
.flag-cw {
  background-position: 0 44.44444444444444%;
}
.flag-cx {
  background-position: 7.142857142857143% 44.44444444444444%;
}
.flag-cy {
  background-position: 14.285714285714286% 44.44444444444444%;
}
.flag-cz {
  background-position: 21.428571428571427% 44.44444444444444%;
}
.flag-de {
  background-position: 28.571428571428573% 44.44444444444444%;
}
.flag-dg {
  background-position: 35.714285714285715% 44.44444444444444%;
}
.flag-dj {
  background-position: 42.857142857142854% 44.44444444444444%;
}
.flag-dk {
  background-position: 50% 0;
}
.flag-dm {
  background-position: 50% 5.555555555555555%;
}
.flag-do {
  background-position: 50% 11.11111111111111%;
}
.flag-dz {
  background-position: 50% 16.666666666666668%;
}
.flag-eac {
  background-position: 50% 22.22222222222222%;
}
.flag-ec {
  background-position: 50% 27.77777777777778%;
}
.flag-ee {
  background-position: 50% 33.333333333333336%;
}
.flag-eg {
  background-position: 50% 38.888888888888886%;
}
.flag-eh {
  background-position: 50% 44.44444444444444%;
}
.flag-er {
  background-position: 0 50%;
}
.flag-es {
  background-position: 7.142857142857143% 50%;
}
.flag-es-ct {
  background-position: 14.285714285714286% 50%;
}
.flag-es-ga {
  background-position: 21.428571428571427% 50%;
}
.flag-es-pv {
  background-position: 28.571428571428573% 50%;
}
.flag-et {
  background-position: 35.714285714285715% 50%;
}
.flag-eu {
  background-position: 42.857142857142854% 50%;
}
.flag-fi {
  background-position: 50% 50%;
}
.flag-fj {
  background-position: 57.142857142857146% 0;
}
.flag-fk {
  background-position: 57.142857142857146% 5.555555555555555%;
}
.flag-fm {
  background-position: 57.142857142857146% 11.11111111111111%;
}
.flag-fo {
  background-position: 57.142857142857146% 16.666666666666668%;
}
.flag-fr {
  background-position: 57.142857142857146% 22.22222222222222%;
}
.flag-ga {
  background-position: 57.142857142857146% 27.77777777777778%;
}
.flag-gb {
  background-position: 57.142857142857146% 33.333333333333336%;
}
.flag-gb-eng {
  background-position: 57.142857142857146% 38.888888888888886%;
}
.flag-gb-nir {
  background-position: 57.142857142857146% 44.44444444444444%;
}
.flag-gb-sct {
  background-position: 57.142857142857146% 50%;
}
.flag-gb-wls {
  background-position: 0 55.55555555555556%;
}
.flag-gd {
  background-position: 7.142857142857143% 55.55555555555556%;
}
.flag-ge {
  background-position: 14.285714285714286% 55.55555555555556%;
}
.flag-gf {
  background-position: 21.428571428571427% 55.55555555555556%;
}
.flag-gg {
  background-position: 28.571428571428573% 55.55555555555556%;
}
.flag-gh {
  background-position: 35.714285714285715% 55.55555555555556%;
}
.flag-gi {
  background-position: 42.857142857142854% 55.55555555555556%;
}
.flag-gl {
  background-position: 50% 55.55555555555556%;
}
.flag-gm {
  background-position: 57.142857142857146% 55.55555555555556%;
}
.flag-gn {
  background-position: 0 61.111111111111114%;
}
.flag-gp {
  background-position: 7.142857142857143% 61.111111111111114%;
}
.flag-gq {
  background-position: 14.285714285714286% 61.111111111111114%;
}
.flag-gr {
  background-position: 21.428571428571427% 61.111111111111114%;
}
.flag-gs {
  background-position: 28.571428571428573% 61.111111111111114%;
}
.flag-gt {
  background-position: 35.714285714285715% 61.111111111111114%;
}
.flag-gu {
  background-position: 42.857142857142854% 61.111111111111114%;
}
.flag-gw {
  background-position: 50% 61.111111111111114%;
}
.flag-gy {
  background-position: 57.142857142857146% 61.111111111111114%;
}
.flag-hk {
  background-position: 64.28571428571429% 0;
}
.flag-hm {
  background-position: 64.28571428571429% 5.555555555555555%;
}
.flag-hn {
  background-position: 64.28571428571429% 11.11111111111111%;
}
.flag-hr {
  background-position: 64.28571428571429% 16.666666666666668%;
}
.flag-ht {
  background-position: 64.28571428571429% 22.22222222222222%;
}
.flag-hu {
  background-position: 64.28571428571429% 27.77777777777778%;
}
.flag-ic {
  background-position: 64.28571428571429% 33.333333333333336%;
}
.flag-id {
  background-position: 64.28571428571429% 38.888888888888886%;
}
.flag-ie {
  background-position: 64.28571428571429% 44.44444444444444%;
}
.flag-il {
  background-position: 64.28571428571429% 50%;
}
.flag-im {
  background-position: 64.28571428571429% 55.55555555555556%;
}
.flag-in {
  background-position: 64.28571428571429% 61.111111111111114%;
}
.flag-io {
  background-position: 0 66.66666666666667%;
}
.flag-iq {
  background-position: 7.142857142857143% 66.66666666666667%;
}
.flag-ir {
  background-position: 14.285714285714286% 66.66666666666667%;
}
.flag-is {
  background-position: 21.428571428571427% 66.66666666666667%;
}
.flag-it {
  background-position: 28.571428571428573% 66.66666666666667%;
}
.flag-je {
  background-position: 35.714285714285715% 66.66666666666667%;
}
.flag-jm {
  background-position: 42.857142857142854% 66.66666666666667%;
}
.flag-jo {
  background-position: 50% 66.66666666666667%;
}
.flag-jp {
  background-position: 57.142857142857146% 66.66666666666667%;
}
.flag-ke {
  background-position: 64.28571428571429% 66.66666666666667%;
}
.flag-kg {
  background-position: 71.42857142857143% 0;
}
.flag-kh {
  background-position: 71.42857142857143% 5.555555555555555%;
}
.flag-ki {
  background-position: 71.42857142857143% 11.11111111111111%;
}
.flag-km {
  background-position: 71.42857142857143% 16.666666666666668%;
}
.flag-kn {
  background-position: 71.42857142857143% 22.22222222222222%;
}
.flag-kp {
  background-position: 71.42857142857143% 27.77777777777778%;
}
.flag-kr {
  background-position: 71.42857142857143% 33.333333333333336%;
}
.flag-kw {
  background-position: 71.42857142857143% 38.888888888888886%;
}
.flag-ky {
  background-position: 71.42857142857143% 44.44444444444444%;
}
.flag-kz {
  background-position: 71.42857142857143% 50%;
}
.flag-la {
  background-position: 71.42857142857143% 55.55555555555556%;
}
.flag-lb {
  background-position: 71.42857142857143% 61.111111111111114%;
}
.flag-lc {
  background-position: 71.42857142857143% 66.66666666666667%;
}
.flag-li {
  background-position: 0 72.22222222222223%;
}
.flag-lk {
  background-position: 7.142857142857143% 72.22222222222223%;
}
.flag-lr {
  background-position: 14.285714285714286% 72.22222222222223%;
}
.flag-ls {
  background-position: 21.428571428571427% 72.22222222222223%;
}
.flag-lt {
  background-position: 28.571428571428573% 72.22222222222223%;
}
.flag-lu {
  background-position: 35.714285714285715% 72.22222222222223%;
}
.flag-lv {
  background-position: 42.857142857142854% 72.22222222222223%;
}
.flag-ly {
  background-position: 50% 72.22222222222223%;
}
.flag-ma {
  background-position: 57.142857142857146% 72.22222222222223%;
}
.flag-mc {
  background-position: 64.28571428571429% 72.22222222222223%;
}
.flag-md {
  background-position: 71.42857142857143% 72.22222222222223%;
}
.flag-me {
  background-position: 78.57142857142857% 0;
}
.flag-mf {
  background-position: 78.57142857142857% 5.555555555555555%;
}
.flag-mg {
  background-position: 78.57142857142857% 11.11111111111111%;
}
.flag-mh {
  background-position: 78.57142857142857% 16.666666666666668%;
}
.flag-mk {
  background-position: 78.57142857142857% 22.22222222222222%;
}
.flag-ml {
  background-position: 78.57142857142857% 27.77777777777778%;
}
.flag-mm {
  background-position: 78.57142857142857% 33.333333333333336%;
}
.flag-mn {
  background-position: 78.57142857142857% 38.888888888888886%;
}
.flag-mo {
  background-position: 78.57142857142857% 44.44444444444444%;
}
.flag-mp {
  background-position: 78.57142857142857% 50%;
}
.flag-mq {
  background-position: 78.57142857142857% 55.55555555555556%;
}
.flag-mr {
  background-position: 78.57142857142857% 61.111111111111114%;
}
.flag-ms {
  background-position: 78.57142857142857% 66.66666666666667%;
}
.flag-mt {
  background-position: 78.57142857142857% 72.22222222222223%;
}
.flag-mu {
  background-position: 0 77.77777777777777%;
}
.flag-mv {
  background-position: 7.142857142857143% 77.77777777777777%;
}
.flag-mw {
  background-position: 14.285714285714286% 77.77777777777777%;
}
.flag-mx {
  background-position: 21.428571428571427% 77.77777777777777%;
}
.flag-my {
  background-position: 28.571428571428573% 77.77777777777777%;
}
.flag-mz {
  background-position: 35.714285714285715% 77.77777777777777%;
}
.flag-na {
  background-position: 42.857142857142854% 77.77777777777777%;
}
.flag-nc {
  background-position: 50% 77.77777777777777%;
}
.flag-ne {
  background-position: 57.142857142857146% 77.77777777777777%;
}
.flag-nf {
  background-position: 64.28571428571429% 77.77777777777777%;
}
.flag-ng {
  background-position: 71.42857142857143% 77.77777777777777%;
}
.flag-ni {
  background-position: 78.57142857142857% 77.77777777777777%;
}
.flag-nl {
  background-position: 0 83.33333333333333%;
}
.flag-no {
  background-position: 7.142857142857143% 83.33333333333333%;
}
.flag-np {
  background-position: 14.285714285714286% 83.33333333333333%;
}
.flag-nr {
  background-position: 21.428571428571427% 83.33333333333333%;
}
.flag-nu {
  background-position: 28.571428571428573% 83.33333333333333%;
}
.flag-nz {
  background-position: 35.714285714285715% 83.33333333333333%;
}
.flag-om {
  background-position: 42.857142857142854% 83.33333333333333%;
}
.flag-pa {
  background-position: 50% 83.33333333333333%;
}
.flag-pc {
  background-position: 57.142857142857146% 83.33333333333333%;
}
.flag-pe {
  background-position: 64.28571428571429% 83.33333333333333%;
}
.flag-pf {
  background-position: 71.42857142857143% 83.33333333333333%;
}
.flag-pg {
  background-position: 78.57142857142857% 83.33333333333333%;
}
.flag-ph {
  background-position: 85.71428571428571% 0;
}
.flag-pk {
  background-position: 85.71428571428571% 5.555555555555555%;
}
.flag-pl {
  background-position: 85.71428571428571% 11.11111111111111%;
}
.flag-pm {
  background-position: 85.71428571428571% 16.666666666666668%;
}
.flag-pn {
  background-position: 85.71428571428571% 22.22222222222222%;
}
.flag-pr {
  background-position: 85.71428571428571% 27.77777777777778%;
}
.flag-ps {
  background-position: 85.71428571428571% 33.333333333333336%;
}
.flag-pt {
  background-position: 85.71428571428571% 38.888888888888886%;
}
.flag-pw {
  background-position: 85.71428571428571% 44.44444444444444%;
}
.flag-py {
  background-position: 85.71428571428571% 50%;
}
.flag-qa {
  background-position: 85.71428571428571% 55.55555555555556%;
}
.flag-re {
  background-position: 85.71428571428571% 61.111111111111114%;
}
.flag-ro {
  background-position: 85.71428571428571% 66.66666666666667%;
}
.flag-rs {
  background-position: 85.71428571428571% 72.22222222222223%;
}
.flag-ru {
  background-position: 85.71428571428571% 77.77777777777777%;
}
.flag-rw {
  background-position: 85.71428571428571% 83.33333333333333%;
}
.flag-sa {
  background-position: 0 88.88888888888889%;
}
.flag-sb {
  background-position: 7.142857142857143% 88.88888888888889%;
}
.flag-sc {
  background-position: 14.285714285714286% 88.88888888888889%;
}
.flag-sd {
  background-position: 21.428571428571427% 88.88888888888889%;
}
.flag-se {
  background-position: 28.571428571428573% 88.88888888888889%;
}
.flag-sg {
  background-position: 35.714285714285715% 88.88888888888889%;
}
.flag-sh {
  background-position: 42.857142857142854% 88.88888888888889%;
}
.flag-sh-ac {
  background-position: 50% 88.88888888888889%;
}
.flag-sh-hl {
  background-position: 57.142857142857146% 88.88888888888889%;
}
.flag-sh-ta {
  background-position: 64.28571428571429% 88.88888888888889%;
}
.flag-si {
  background-position: 71.42857142857143% 88.88888888888889%;
}
.flag-sj {
  background-position: 78.57142857142857% 88.88888888888889%;
}
.flag-sk {
  background-position: 85.71428571428571% 88.88888888888889%;
}
.flag-sl {
  background-position: 92.85714285714286% 0;
}
.flag-sm {
  background-position: 92.85714285714286% 5.555555555555555%;
}
.flag-sn {
  background-position: 92.85714285714286% 11.11111111111111%;
}
.flag-so {
  background-position: 92.85714285714286% 16.666666666666668%;
}
.flag-sr {
  background-position: 92.85714285714286% 22.22222222222222%;
}
.flag-ss {
  background-position: 92.85714285714286% 27.77777777777778%;
}
.flag-st {
  background-position: 92.85714285714286% 33.333333333333336%;
}
.flag-sv {
  background-position: 92.85714285714286% 38.888888888888886%;
}
.flag-sx {
  background-position: 92.85714285714286% 44.44444444444444%;
}
.flag-sy {
  background-position: 92.85714285714286% 50%;
}
.flag-sz {
  background-position: 92.85714285714286% 55.55555555555556%;
}
.flag-tc {
  background-position: 92.85714285714286% 61.111111111111114%;
}
.flag-td {
  background-position: 92.85714285714286% 66.66666666666667%;
}
.flag-tf {
  background-position: 92.85714285714286% 72.22222222222223%;
}
.flag-tg {
  background-position: 92.85714285714286% 77.77777777777777%;
}
.flag-th {
  background-position: 92.85714285714286% 83.33333333333333%;
}
.flag-tj {
  background-position: 92.85714285714286% 88.88888888888889%;
}
.flag-tk {
  background-position: 0 94.44444444444444%;
}
.flag-tl {
  background-position: 7.142857142857143% 94.44444444444444%;
}
.flag-tm {
  background-position: 14.285714285714286% 94.44444444444444%;
}
.flag-tn {
  background-position: 21.428571428571427% 94.44444444444444%;
}
.flag-to {
  background-position: 28.571428571428573% 94.44444444444444%;
}
.flag-tr {
  background-position: 35.714285714285715% 94.44444444444444%;
}
.flag-tt {
  background-position: 42.857142857142854% 94.44444444444444%;
}
.flag-tv {
  background-position: 50% 94.44444444444444%;
}
.flag-tw {
  background-position: 57.142857142857146% 94.44444444444444%;
}
.flag-tz {
  background-position: 64.28571428571429% 94.44444444444444%;
}
.flag-ua {
  background-position: 71.42857142857143% 94.44444444444444%;
}
.flag-ug {
  background-position: 78.57142857142857% 94.44444444444444%;
}
.flag-um {
  background-position: 85.71428571428571% 94.44444444444444%;
}
.flag-un {
  background-position: 92.85714285714286% 94.44444444444444%;
}
.flag-us {
  background-position: 100% 0;
}
.flag-uy {
  background-position: 100% 5.555555555555555%;
}
.flag-uz {
  background-position: 100% 11.11111111111111%;
}
.flag-va {
  background-position: 100% 16.666666666666668%;
}
.flag-vc {
  background-position: 100% 22.22222222222222%;
}
.flag-ve {
  background-position: 100% 27.77777777777778%;
}
.flag-vg {
  background-position: 100% 33.333333333333336%;
}
.flag-vi {
  background-position: 100% 38.888888888888886%;
}
.flag-vn {
  background-position: 100% 44.44444444444444%;
}
.flag-vu {
  background-position: 100% 50%;
}
.flag-wf {
  background-position: 100% 55.55555555555556%;
}
.flag-ws {
  background-position: 100% 61.111111111111114%;
}
.flag-xk {
  background-position: 100% 66.66666666666667%;
}
.flag-xx {
  background-position: 100% 72.22222222222223%;
}
.flag-ye {
  background-position: 100% 77.77777777777777%;
}
.flag-yt {
  background-position: 100% 83.33333333333333%;
}
.flag-za {
  background-position: 100% 88.88888888888889%;
}
.flag-zm {
  background-position: 100% 94.44444444444444%;
}
.flag-zw {
  background-position: 0 100%;
}
