a, body {
  color: #444;
}

blockquote {
  font-size: 95%;
  font-style: italic;
  padding: 1em;
}

blockquote:before {
  content: "ʺ . . .";
  font-size: 150%;
}

body {
  background: #eee;
}

pre {
  background: #cdcdcd;
  border-radius: 5px;
  /* line-height: normal; */
  /* max-height: 100%; */
  /* max-width: 100%; */
  overflow: auto;
  padding: 9px;
  white-space: pre-wrap;
  word-break: break-word;
}

details,
article section {
  line-height: 2em;
  margin: 1em 0 1em 0;
  /* text-align: justify; */
  /* white-space: break-spaces; */
}

details > summary {
  font-weight: bold;
  user-select: none;
}

/*
dl, input, textarea {
  margin: 0 10% 0 10%;
}
*/

dt {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

footer {
  font-size: 80%;
  line-height: 30px;
  margin: auto;
  margin-top: 0.67em;
  width: 65%;
  padding: 10px;
  text-align: center;
  user-select: none;
}

body > header {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

nav {
  margin: auto;
  max-width: 1300px;
}

table td,
table th {
  padding: 1em;
  text-align: start;
}

@media (prefers-color-scheme: dark) {

  a, body {
    color: #eee;
  }

  body {
    background: #888;
  }

  code,
  pre {
    background: #999;
  }

}
