h1.title,
h2.subtitle,
section#description > p {
  line-height: 1.5em;
}

section h1.title {
  font-size: 1.5em;
  text-decoration: underline;
}

/*
h2.subtitle {
  text-align: justify;
}
*/

nav#navigation-top,
nav#navigation-bottom {
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

#connect > * {
  max-width: 400px;
}

nav#navigation-top a,
nav#navigation-bottom a {
  display: inline-table;
  letter-spacing: 5px;
  margin: 5px;
  text-decoration: none;
  white-space: nowrap;
  width: 10%;
}

#feed header, #feed #menu {
  line-height: 120%;
  margin: 3em 0 1em 0;
}

#feed #menu > h3 {
  padding-left: 2%;
}

#feed #menu > ol > li {
  padding: 5px;
}

nav p {
  all: unset;
}

nav#navigation-top,
nav#navigation-bottom {
  border-bottom: 1px solid #444;
  line-height: 150%;
  padding: 10px;
  user-select: none;
}

nav#navigation-bottom {
  border-top: 1px solid #444;
  margin-bottom: 1em;
  margin-top: 5em;
}

nav.navigation-posts span {
  height: 1px;
  /* margin: -2em 1em 0 1em; */
  margin: 1em;
  text-align: center;
  user-select: none;
  width: 15%;
}

nav.navigation-posts a {
  font-size: 85%;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

span.navigation-previous {
  float: inline-start;
}

span.navigation-proceed {
  float: inline-end;
}

#feed,
footer {
  margin: auto;
  max-width: 800px;
}

/*
#articles {
  min-height: 80vh;
}
*/

#articles #journal {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  min-width: 350px;
  padding-bottom: 0.67em;
  width: 20%;
}

#journal {
  margin: auto;
  padding-top: 50px;
}

article {
  margin: 3em 2% 1em 2%;
}

/*
section#description,
article section {
  padding-left: 2%;
  padding-right: 10%;
}
*/

#articles #journal ol,
#articles #journal ul {
  /* height: 500px; */
  line-height: 160%;
  overflow: auto;
  word-wrap: break-word;
}

article section.content,
article section.summary {
  line-height: 2.5em;
  word-wrap: break-word;
  text-wrap: auto;
}

/* article section.summary */
#description {
  font-size: 120%;
}

/* article section.content, */
#articles article.entry {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#selection-page {
  background: #000;
  bottom: 0;
  left: 0;
  line-height: 200%;
  overflow: overlay;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

#selection-page p {
  margin-left: 10%;
  margin-right: 10%;
}

#selection-page span {
  display: inline-grid;
  margin: 2%
}

#selection-page img {
  height: 128px;
  margin-bottom: 20%;
  margin-top: 20%;
  width: 128px;
}

#selection-page #selection {
  margin-bottom: 2%;
}

#selection-page #return {
  /* font-style: italic; */
  margin: auto;
}

#selection-link,
#selection-page #return {
  cursor: pointer;
  text-decoration: underline;
}

.terms,
*[type="text"],
*[type="text/plain"] {
  line-height: 2em;
  /* white-space: pre; */
}

#articles article.entry section.tags div {
  display: inline-flex;
  /* display: ruby; */
  flex-wrap: wrap;
  /* word-break: break-all; */
  padding: 1em;
}

#articles article.entry span.authors .author,
#articles article.entry div.contributors .contributor,
#rights {
  font-weight: bold;
  /* margin: 0 0.3em 0 0.3em; */
}

#articles article.entry span.authors .author:after,
#articles article.entry div.contributors .contributor:after {
  content: ", ";
}

#articles article.entry span.authors .author:last-child:after,
#articles article.entry div.contributors .contributor:last-child:after {
  content: unset;
}

#articles article.entry span.authors span:nth-child(1),
#articles article.entry div.contributors span:nth-child(1),
#articles article.entry span.dates {
  color: #939393;
}

#articles article.entry span.authors a,
#articles article.entry div.contributors a {
  text-decoration: none;
}

#articles article.entry span.dates:before {
  content: " — ";
}

#publisher-profile {
  border-radius: 1em;
  display: table;
  /* display: inline-block; */
  /* margin: 1px; */
  /* padding: 2.5%; */
  /* padding: 5%; */
  /* margin: 5%; */
  /* width: 80%; */
  background: #f2f2f2;
  border: 1px solid #c0c0c0;
  /* margin: auto; */
  margin: 0 auto;
  /* max-width: 560px; */
  padding: 15px;
  /* width: 40em; */
}

#publisher-profile-img,
#publisher-profile-qr {
  border-radius: 1em;
  height: 350px;
  padding: 5px;
  width: 350px;
}

.enclosures > details > div {
  background: rgb(75 175 175 / 50%); /* #d0dce1; */
  border: 1px solid GrayText;
  border-left: double;
  /* border-radius: 4px; */
  border-radius: .5em;
  /* color: #525c66; */
  direction: ltr;
  /* margin: 5px auto 15px 1%; */
  /* max-width: 80%; */
  margin: 0.5em;
  padding: 0.5em;
}

.mediums a,
.microsummaries a,
.tags a {
  margin: 5px;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {

  #articles article.entry span.authors span:nth-child(1),
  #articles article.entry div.contributors span:nth-child(1),
  #articles article.entry span.dates {
    color: #d9d9d9;
  }

  nav#navigation-top,
  nav#navigation-bottom {
    border-bottom: 1px solid #f0ece7;
  }

  nav#navigation-bottom {
    border-top: 1px solid #f0ece7;
  }

  .enclosures > details > div {
    background: rgb(175 75 175 / 50%); /* #281d8b; */
  }

}

@media (max-width: 1550px) {
  #articles {
    display: unset;
  }

  #articles #journal {
    margin-right: unset;
    min-width: unset;
    width: unset;
  }
}
