/* Input form. */

button {
  color: #000;
  margin-top: 1em;
}

form {
  /* display: table; */
  /* margin: auto; */
  /* max-width: 800px; */
  width: 80%;
}

input[type="text"],
textarea {
  margin: 1em 0 1em 0;
  width: 100%;
}

input[type="checkbox"],
textarea {
  margin: 0 1em 0 1em;
}

#search {
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  form {
    max-width: 500px;
  }
}
