/* Gallery. */

#figures,
.images {
  /* display:ruby; */
  text-align: center;
}

figure.entry,
.images .image {
  display: inline-table;
  /* height: 200px; */
  margin: 0.5em;
  padding: 0.5em;
  width: 120px;
}

#figures figure.entry:hover,
.images .image:hover {
  background: #ddd;
  border-radius: 1em;
}

@media (prefers-color-scheme: dark) {

  #figures figure.entry:hover,
  .images .image:hover {
    background: #7698a9cc;
  }

}
