/* Multimedia. */

header h1 {
  justify-items: center;
}

img.avatar {
  position: sticky; /* absolute relative */
  /* transform: translateX(-2em) translateY(-16em); */
  /* transform: translateX(2em) translateY(-5em); */
  width: 8em;
  /* z-index: 1; */
}

figure.photo {
  /* transform: translateX(-4em); */
  /* transform: translateX(-5em); */
  width: 100%;
}

figure.photo p {
  display: none;
}

figure.photo img {
  border-radius: unset;
  border-end-end-radius: 1em;
  border-start-start-radius: 1em;
  /* max-height: 200px; */
  width: 100%;
}

header img {
  display: block;
  margin: auto;
  margin-top: 0.67em;
  max-height: 100px;
  max-width: 100px;
}

iframe {
  background: beige;
}

img {
  border-radius: 1em;
}

iframe, video {
  border-radius: 0.1em;
  height: 432px;
  width: 100%;
}

/*
iframe, img, svg, video {
  max-height: 90vh;
  max-width: 100%;
  width: auto;
  height: auto;
}
*/

table.graphics td,
table.graphics th {
  padding: unset;
  text-align: unset;
}
