[bumpversion]
current_version = 0.9.29
tag = true
commit = true
message = 更新版本: {current_version} → {new_version}

[bumpversion:file:pyproject.toml]

[bumpversion:file:src/fspacker/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:docs/conf.py]
search = version = "{current_version}"
replace = version = "{new_version}"
