django-form-collection {
  position: relative;
  background-color: var(--django-formset-background-color);
}
django-form-collection.dj-marked-for-removal {
  color: gray;
  background-color: lightgray;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.5) 4px, rgba(255, 255, 255, 0.5) 8px);
  background-size: contain;
  cursor: not-allowed;
}
django-form-collection[sibling-position] {
  display: block;
}
django-form-collection[sibling-position] > .remove-collection {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  visibility: hidden;
}
django-form-collection[sibling-position] > .remove-collection > svg {
  width: 1rem;
  height: 1rem;
}
django-form-collection[sibling-position] > .collection-drag-handle ~ .remove-collection {
  right: 2rem;
}
django-form-collection[sibling-position]:hover > .remove-collection {
  visibility: visible;
}
django-form-collection[sibling-position] > .collection-drag-handle {
  position: relative;
  height: 1px;
  margin-bottom: -1px;
}
django-form-collection[sibling-position] > .collection-drag-handle::after {
  content: " ";
  position: absolute;
  width: 9px;
  height: 21px;
  right: 5px;
  z-index: 1;
  opacity: 0.75;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"%3E%3Ccircle fill="nonzero" cx="32" cy="32" r="16"/%3E%3C/svg%3E');
  background-repeat: repeat;
  background-position: 0px 0px;
  background-size: 3px 3px;
}
django-form-collection[sibling-position]:not(.dj-marked-for-removal) > .collection-drag-handle::after {
  cursor: grab;
}
django-form-collection .collection-siblings:has(> .sortable-chosen) > [sibling-position] > .remove-collection {
  visibility: hidden;
}
django-form-collection .dj-ghost-collection {
  opacity: 0.2;
}

django-formset .aligned p.help, django-formset .aligned div.help {
  margin-top: 0;
  margin-left: 160px;
  padding-left: 10px;
}
django-formset .aligned .dj-field-errors {
  margin-left: 160px;
}
django-formset .aligned .dj-field-errors ul {
  padding-left: 10px;
}
django-formset .aligned .dj-field-errors ul > li {
  list-style: none;
}
django-formset .submit-row {
  margin-top: 20px;
}
django-formset dialog button {
  background: var(--button-bg);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: var(--button-fg);
  cursor: pointer;
  transition: background 0.15s;
}
django-formset dialog button.danger {
  background: var(--delete-button-bg);
  color: var(--button-fg);
}
django-formset dialog button.warning {
  background: var(--accent);
  color: var(--button-fg);
}
django-formset dialog button.primary {
  background: var(--primary);
  color: var(--button-fg);
}
django-formset dialog button.secondary {
  background: var(--secondary);
  color: var(--button-fg);
}
django-formset django-form-collection[sibling-position]:first-of-type > [role=form] > fieldset {
  border-top: none;
}
django-formset django-form-collection[sibling-position]:last-of-type > [role=form] > fieldset > [role=group]:last-of-type {
  border-bottom: none;
}
django-formset django-form-collection[sibling-position].dj-marked-for-removal > [role=form] {
  opacity: 0.5;
  background-color: transparent;
}
django-formset django-form-collection > legend {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 1px solid var(--header-bg);
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 0.8125rem;
  background: var(--header-bg);
  color: var(--header-link-color);
}
django-formset django-form-collection .collection-siblings {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--header-bg);
}
django-formset django-form-collection .module {
  margin: 0;
}
django-formset django-form-collection .detached-row {
  color: var(--body-quiet-color);
  background: var(--darkened-bg);
  padding: 8px 10px;
  margin: -1px -10px -10px;
}
django-formset django-form-collection .detached-row button {
  font-size: 0.75rem;
  background-color: transparent;
  border: none;
  color: var(--link-fg);
  text-decoration: none;
  transition: color 0.15s, background 0.15s;
  cursor: pointer;
}
django-formset django-form-collection .detached-row button:hover {
  color: var(--link-hover-color);
}
django-formset django-form-collection .detached-row button img {
  vertical-align: text-top;
}
django-formset django-form-collection button.remove-collection {
  padding: 5px 8px 2px;
  border: none;
  border-radius: 4px;
  color: var(--delete-button-bg);
  cursor: pointer;
  transition: background 0.15s;
}
django-formset django-form-collection button.remove-collection:hover {
  background-color: var(--delete-button-hover-bg);
  color: var(--button-fg);
}
django-formset django-form-collection .dj-button-decorator {
  color: #5fa225;
  font-weight: bold;
  font-size: larger;
}
django-formset django-form-collection .dj-button-decorator.me-1 {
  margin-right: 0.25rem;
}
django-formset django-form-collection .dj-button-decorator.ms-1 {
  margin-left: 0.25rem;
}
django-formset .form-row:has([role=dialog], [is^=django-selectize]) {
  overflow: visible;
}
django-formset .form-row .flex-container > .dj-richtext-wrapper, django-formset .form-row .flex-container > [role=textbox] {
  flex-grow: 1;
}
django-formset .form-row textarea[is=django-richtext].dj-concealed {
  width: 1px !important;
}
django-formset .form-row input[type^=date] {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px 6px;
  margin-top: 0;
  color: var(--body-fg);
  background-color: var(--body-bg);
}
django-formset .form-row [is^=django-selectize] + .shadow-wrapper {
  width: calc(100% - 170px);
}
django-formset .form-row :is(select[is^=django-selectize], select[is=django-dual-selector]).dj-concealed {
  width: 1px !important;
}
django-formset .form-row .df-dual-selector input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
django-formset .form-row .df-dual-selector :is(select, django-sortable-select) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}
django-formset .form-row .df-dual-selector.selector {
  margin-bottom: 5px;
}
django-formset .form-row .df-dual-selector.selector .selector-available input, django-formset .form-row .df-dual-selector.selector .selector-chosen input {
  margin-left: unset;
}
django-formset .form-row .df-dual-selector.selector .selector-available :is(select, django-sortable-select), django-formset .form-row .df-dual-selector.selector .selector-chosen :is(select, django-sortable-select) {
  overflow-x: hidden;
  margin-bottom: 0;
  padding-top: 2px;
}
django-formset .form-row .df-dual-selector.selector .selector-chooser {
  margin: 6rem 0 0;
  padding: 0.125rem 0;
  width: auto;
}
django-formset .form-row .df-dual-selector.selector .selector-chooser button {
  border: unset;
  padding: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--close-button-bg);
  color: var(--primary-fg);
  opacity: 0.8;
  width: 16px;
  height: 16px;
}
django-formset .form-row .df-dual-selector.selector .selector-chooser button:hover {
  opacity: 1;
}
django-formset .form-row .df-dual-selector.selector .selector-chooser button svg {
  width: 75%;
  height: 75%;
}
django-formset fieldset[name] {
  margin-top: 20px;
  border: none;
}
django-formset fieldset[name] > legend {
  box-sizing: border-box;
  width: calc(100% - 10px);
  margin: 0 5px;
}

/*# sourceMappingURL=adminform.css.map */
