[bumpversion]
current_version = 0.17.1
commit = true
tag = true
tag_name = core-v{new_version}
message = Bump core version to {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:apps/backend/pyproject.toml]
search = "orcheo>={current_version}"
replace = "orcheo>={new_version}"

[bumpversion:file:packages/sdk/pyproject.toml]
search = "orcheo>={current_version}"
replace = "orcheo>={new_version}"

[bumpversion:file:uv.lock]
search = [[package]]
	name = "orcheo"
	version = "{current_version}"
replace = [[package]]
	name = "orcheo"
	version = "{new_version}"
