.animation-slider button {
    background: transparent; 
    color: inherit; cursor: pointer;
} 

.animation-slider input[type="range"] {
    outline: none;
}

.animation-slider button:hover > i,
.animation-slider button:focus > i,
.animation-slider button:active {
    scale: 1.25;
    transition: scale 200ms ease;
}

.animation-slider button:active {
    scale: 1.25;
}

.animation-slider button .fa.fa-rotate-left.inactive {
    opacity: 0.25 !important;
}

.animation-slider.slider-hidden input,
.animation-slider.slider-hidden .widget-readout {
    display: none !important;
}