[buildout]
find-links = https://files.pythonhosted.org/packages/61/cf/0d6598b1ceb463a46b75a716fbb23d2d5ccc5738aba8ddceeec3fa59997f/slimit-0.8.1.zip#sha256=f433dcef899f166b207b67d91d3f7344659cb33b8259818f084167244e17720b
            https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl
            https://files.pythonhosted.org/packages/source/g/glue/glue-0.13.tar.gz
            https://files.pythonhosted.org/packages/71/59/d7423bd5e7ddaf3a1ce299ab4490e9044e8dfd195420fc83a24de9e60726/Jinja2-2.9.5.tar.gz
            https://files.pythonhosted.org/packages/69/48/acbf292615c65f0604a0c6fc402ce6d8c991276e16c80c46a8f758fbd30c/MarkupSafe-2.1.5-cp310-cp310-win_amd64.whl
develop = .
versions = versions
parts = test
        checker
        py


[versions]
slimit = 0.8.1
pyflakes = 2.1.1
ply = 3.11
# glue requires Jinja2<2.10,>=2.7
Jinja2 = 2.9.5
# Pillow version is defined in setup.py with python_version markers:
# Python 2: Pillow==6.2.2
# Python 3: Pillow>=12.0.0


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.cdn [test]
       p01.recipe.cdn [sprites]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/recipe/cdn



[py]
recipe = zc.recipe.egg
eggs = p01.recipe.cdn
       future
interpreter = python

